@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #777777;
}

*::-webkit-scrollbar-thumb {
    background-color: #171717;
    border-radius: 0px;
    border: 21px solid #171717;
}