@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: black;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}